:root {
  --importance10: rgb(0, 0, 0);
  --importance9: rgb(26, 26, 26);
  --importance8: rgb(51, 51, 51);
  --importance7: rgb(77, 77, 77);
  --importance6: rgb(102, 102, 102);
  --importance5: rgb(128, 128, 128);
  --importance4: rgb(153, 153, 153);
  --importance3: rgb(178, 178, 178);
  --importance2: rgb(204, 204, 204);
  --importance1: rgb(230, 230, 230);
}

/* General styling */
body * {
  box-sizing: border-box;
  color: white;
}

body > * {
  margin-bottom: 50px;
  padding-left: 150px;
  padding-right: 150px;
}

button {
  display: block;
  background: white;
  border: 0;
}

article {
  padding: 30px;
}

.see-more {
  width: 230px;
  height: 50px;
}

/* Positioning, top down*/
.main-header {
  height: 110px;
  background-color: var(--importance5);
}

/* First bunch of articles */
.articles-primary {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 50px;
}

.articles-primary .article {
  height: 150px;
  grid-column: span 2;
  background-color: var(--importance6);
}

.articles-primary .articles-newest {
  height: 450px;
  background-color: var(--importance8);
}

.articles-primary .aside {
  height: 650px;
  grid-column: span 1 / -1;
  grid-row: 1 / span 3;
  align-self: start;
  background-color: var(--importance7);
}

.articles-primary .see-more {
  grid-column: 2;
  justify-self: center;
  background-color: var(--importance3);
}

/* Second bunch of articles */
.articles-secondary {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 50px;
}

.articles-secondary .article {
  height: 650px;
  background-color: var(--importance4);
}

.articles-secondary .aside {
  height: 650px;
  grid-column: span 2;
  background-color: var(--importance7);
}

.articles-secondary .see-more {
  grid-column: 2 / span 2;
  justify-self: center;
  background-color: var(--importance3);
}

/* First advertising*/
.click {
  height: 950px;
  background-color: var(--importance6);
  /* add a little padding to prevent margin collapsing */
  padding-top: 1px;
}

.click > * {
  margin: 20px auto;
}

.click .shipping-info {
  width: 350px;
  height: 20px;
  background-color: var(--importance2);
}

.click > h1 {
  width: 750px;
  height: 120px;
  background-color: var(--importance8);
}

.click .description {
  width: 1050px;
  height: 90px;
  background-color: var(--importance4);
}

.click button {
  width: 400px;
  height: 70px;
  background-color: var(--importance7);
}

.click .image {
  width: 900px;
  height: 500px;
  background-color: var(--importance9);
}

/* Guides section*/
.guides {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 50px;
}

.guides .guide {
  height: 350px;
  background-color: var(--importance8);
}

.guides .guide:nth-child(3) {
  height: 900px;
}

.guides .newsletter {
  height: 900px;
  background-color: var(--importance8);
}

.guides .see-more {
  grid-column: span 2;
  justify-self: center;
  background-color: var(--importance3);
}

/* Second advertising*/
.design-systems {
  padding: 50px;
  background-color: var(--importance7);
}

.design-systems > * {
  margin-top: 20px;
}

.book-info {
  width: 300px;
  height: 20px;
  background-color: var(--importance3);
}

.design-systems h1 {
  width: 350px;
  height: 90px;
  background-color: var(--importance8);
}

.design-systems .description {
  width: 1100px;
  height: 70px;
  background-color: var(--importance4);
}

.design-systems button {
  width: 400px;
  height: 70px;
  background-color: var(--importance8);
}

.design-systems .image {
  width: 300px;
  height: 400px;
  float: right;
  margin-top: -150px;
  background-color: var(--importance9);
}

/* Community section */
.community {
  height: 1650px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 50px;
}

.community .person-of-the-week {
  grid-column: span 2;
  height: 270px;
  margin-top: 50px;
  background-color: var(--importance8);
}

.community .article {
  height: 350px;
  background-color: var(--importance7);
}

.community .see-more {
  grid-column: span 2;
  justify-self: center;
  background-color: var(--importance3);
}

.main-footer {
  height: 750px;
  margin-bottom: 0;
  background-color: var(--importance5);
}
